<%- include('../partials/header.ejs')%>
    <div class="container-fluid p-0 justify-content-center align-items-center signUp min-vh-100"
        style="margin-top: 6%;">
        <%- include("../partials/navBar.ejs")%>
            <div class="flex items-center justify-center p-4">
                <div class=" bg-white CardOTP p-3 py-5 md:w-[400px] mt-40">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="/assets/nav/tck.png" alt="" class="img-fluid imgOTP">
                    </div>
                    <div class="mt-2 flex flex-col items-center justify-center text-center">
                        <span class="text-[10px]">Enter Your Registered Phone Number</span>
                        <div class="text-danger" id="notification"><%=locals.msg? msg:" "%></div>
                    </div>
                    <form id="formSubmition" action="/numberValidation" method="post" onsubmit="return fullyChecking()"
                        style="width:100% " class="mt-3">
                        <div class=" credntials flex flex-col items-center justify-center gap-2"
                            style="width: 100%;">
                            <input class="signInput" type="text" placeholder="Phone" name="number" id="number"
                                onchange="numberChecking()" required>
                            <span id="Number" class="text text-danger"></span>
                            <button class="bg-gradient-to-r from-lightRed to-red p-2 rounded text-white text-sm" >
                                Send Otp
                            </button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    <script src="/js/validation.js"></script>
    <%- include('../partials/footer.ejs')%>